html{
    width: 100em;
    height: 100em;
    border: 8px groove hsl(120, 84%, 48%);
    
    background-image: url(./istockphoto-1139678803-612x612.jpg);
    
   
}
 .item1{
     color: white;
     border: 5px solid red;
     background-color: black;
     border-radius: 30px ;
     font-style: italic;
     font-size: larger;
     padding: 20px;
     width: 200px;
     height: 50px;
     position: absolute;
     top: 35px;
     left: 20px;
 }
 .item2{
     display: flex;
    color: white;
    border: 5px solid red;
    background-color: black;
    border-radius: 30px ;
    font-style: italic;
    font-size: larger;
    padding: 10px;
    width: 300px;
    height: 30px;
    position: absolute;
    left: 135px;
    top: 45px;
    justify-content: center;
    align-items: flex-end;
    
}
.item3{
    display: flex;
    color: white;
    border: 5px solid red;
    background-color: black;
    border-radius: 30px ;
    font-style: italic;
    font-size: larger;
    padding: 20px;
    width: 250px;
    height: 100px;
    position: absolute;
    right: 115px;
    top: 20px;
    justify-content: center;
}
.im{
    color: red;

}
form{
    border: 5px dashed red;
    width: 300px;
    position: absolute;
    left: 40%;
    top: 150px;
    text-align: center;
}
.item4{
    color: white;
     border: 5px solid red;
     background-color: black;
     border-radius: 30px ;
     font-style: italic;
     font-size: larger;
     padding: 20px;
     width: 300px;
     height: 20px;
     position: absolute;
     top: 105%;
     left: 39%;

}
.item5{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    border-radius: 25px;
    width: 250px;
   padding: 5px; 
    position: absolute;
    left: 100px;
    top: 850px;
}
.sai{
    color: rgb(4, 24, 114);
    font-size: xx-large;
    padding: 10px;
}
.item6{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    border-radius: 25px;
    width: 250px;
    height: 240px;
    position: absolute;
    left: 510px;
    top: 850px;
}
.item7{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    border-radius: 25px;
    width: 250px;
    height: 240px;
    position: absolute;
    left: 900px;
    top: 850px;
}
.item8{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    border-radius: 25px;
    width: 250px;
   padding: 5px; 
    position: absolute;
    left: 100px;
    top: 70em;
}
.item9{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    border-radius: 25px;
    width: 250px;
    height: 240px;
    position: absolute;
    left: 520px;
    top: 70em;
}
.item10{
    color: blue;
    background-color: aqua;
    border: 2px solid rgb(5, 111, 3);
    
    border-radius: 25px;
    width: 250px;
    height: 260px;
    position: absolute;
    left: 910px;
    top: 70em;
}
.item12{
    display: flex;
    color: black;
    background-color: rgb(19, 195, 195);
    border: 7px solid rgb(117, 117, 117);
    height: 250px;
    width: 250px;
    border-radius: 50%;
    text-decoration: underline;
    font-size: x-large;
    font-style: italic;
    justify-content: center;
    padding: 50px;
    font-weight: bolder;
    position: absolute;
    top: 270px;
    
}
.var{
    color: antiquewhite;
    background-color: white;
    width: 320px;
    position: absolute;
    top: 370px;
    left: 35px;
}
.saif{
    color: black;
    position: absolute;
    top: 410px;
    left: 45px;
    text-decoration: underline;
    font-size: large;
    font-style: italic;
    font-weight: bolder;   
}
.giri{
    color: black;
    position: absolute;
    top: 520px;
    left: 90px;
    text-decoration: underline;
    font-size: large;
    font-style: italic;
    font-weight: bolder;
}
.my{
    color: antiquewhite;
    background-color: white;
    width: 350px;
    position: absolute;
    top: 470px;
    left: 20px;
}
