
body{
    background-color: yellow;
}
h2{
    padding-top: 40px;
    text-align: center;

}

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* animation-name: fasna;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1); */
}
.box{
    display: inline-block;
    margin:60px 30px 20px 30px;
    width: 10vw;
    height: 15vh;
    background-color: rgb(66, 171, 171);
    animation-name: fasna;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
.b{
    background-color: grey;
    animation: A 4s infinite 2s linear;
}
.o{
    animation: Z 5s infinite  cubic-bezier(0.075, 0.82, 0.165, 1) ;
}
.l{
    animation: H 5s infinite  cubic-bezier(0.075, 0.82, 0.165, 1) ;
 
}
.l1{
    background-color: brown;
    animation: R 5s infinite  cubic-bezier(0.075, 0.82, 0.165, 1) ;

}
.l2{
    background-color: green;
    animation: B 5s infinite  cubic-bezier(0.075, 0.82, 0.165, 1) ;

}

.h2{
    color: brown;
    text-decoration:underline;
}

@keyframes fasna{
    0%{
        transform: skew(-30deg);
    }
    50%{
        transform: skew(0deg);
    }
    75%{
        transform: skew(30deg);
    }
    100%{
        transform: skew(0deg);
    }

}
@keyframes A{
    0%{
        transform: skewY(-30deg);
    }
    50%{
        transform: skewY(0deg);
    }
    75%{
        transform: skewY(30deg);
    }
    100%{
        transform: skewY(0deg);
    }
}
@keyframes Z{
    to{
        transform:rotate(180deg)   
    }
}
@keyframes H{
    0%{
        transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.5);
    }
    100%{
        transform: scaleY(1);
    }

}
@keyframes R{
    0%{
        transform: scaleX(1);
    }
    50%{
        transform: scaleX(0.5);
    }
    100%{
        transform: scaleX(1);
    }

}
@keyframes B{
    0%{
        transform:rotate(-180deg)   
    }
    50%{
        transform:rotate(0deg)   
    }
    100%{
        transform:rotate(-180deg)   
    }

}

/* 2nd page */

.try{
    padding: 0;
    margin: 0px;
}
.x{
    margin-bottom: 50px ;
    width: 10vw;
    height: 15vh;
    background-color: green;
    transition: all 4s linear;
}
.box1:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0.26, 1.22, 0.67, 0.54);

}
.box2:hover{
    width: 20vw;
    height: 20vw;
    transition-timing-function: cubic-bezier(0.05, 1.01, 1, 1);

}
.box3:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0.26, 1.22, 0.67, 0.54);

}
.box4:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0, 0.83, 0.53, 1);

}
.box5:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0.1, 1.48, 1, 1);

}

.box6:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0.06, 1, 1, 1);

}

.box7:hover{
    width: 20vw;
    transition-timing-function: cubic-bezier(0.03, 0.95, 0.32, 1);

}
.back{
    position: relative;
    left: 48vw;
    color: rgb(226, 64, 64);
    font-size: 32px;
    margin: 0;
}
.nxt{
    position: relative;
    top: -50px;
    left: 18px;
    font-size: 32px;

}





